#header {
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
    padding-top: 4em;
    padding-bottom: 4em;
}

#header h1 {
    font-size: 300%;
}

#header h3 {
    font-size: 200%;
}