#sidebar {
    background: rgb(153, 153, 153);
    grid-area: sidebar;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media all and (min-width: 790px) and (max-width: 1000px) {
    #sidebar {
        background: rgb(255, 255, 255);
        grid-area: sidebar;
        display: flex;
        flex-wrap: wrap;
    }
}